<?xml version="1.0"?>
<config>
    <modules>
        <Phoenix_BankPayment>
            <version>1.1.0</version>
        </Phoenix_BankPayment>
    </modules>
    <global>
        <models>
            <bankpayment>
                <class>Phoenix_BankPayment_Model</class>
            </bankpayment>
        </models>
        <resources>
            <bankpayment_setup>
                <setup>
                    <module>Phoenix_BankPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bankpayment_setup>
            <bankpayment_write>
                <use>core_write</use>
            </bankpayment_write>
            <bankpayment_read>
                <use>core_read</use>
            </bankpayment_read>
        </resources>
        <blocks>
            <bankpayment>
                <class>Phoenix_BankPayment_Block</class>
            </bankpayment>
        </blocks>
        <helpers>
            <bankpayment>
                <class>Phoenix_BankPayment_Helper</class>
            </bankpayment>
        </helpers>        
    </global>
    <default>
        <payment>
            <bankpayment>
                <active>0</active>
                <model>bankpayment/bankPayment</model>
                <order_status>1</order_status>
                <title>Bank Prepayment</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
            </bankpayment>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Phoenix_BankPayment>
                    <files>
                        <default>Phoenix_BankPayment.csv</default>
                    </files>
                </Phoenix_BankPayment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Phoenix_BankPayment>
                    <files>
                        <default>Phoenix_BankPayment.csv</default>
                    </files>
                </Phoenix_BankPayment>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <bankpayment>
                <title>Vorkasse</title>
                <active>1</active>
                <show_bank_accounts_in_pdf>1</show_bank_accounts_in_pdf>
                <show_customtext_in_pdf>1</show_customtext_in_pdf>
            </bankpayment>
        </payment>
    </default>
</config>
